<a href="{{#if fileName}}{{assets}}/{{relativePath}}/{{ fileName }}{{else}}{{foreignUrl}}{{/if}}" target="_blank" onclick="ewt.trackLink({name:'{{title}}',type:'download',link:this });ga('send', 'event', 'download', '{{title}}', 'Download {{title}} - {{slug}} page');">
{{#if imgFilename}}
	{{title}}<br>
    <img src="{{assets}}/img/{{imgFilename}}" alt="{{title}}" >
    {{else}}<strong>{{title}}</strong><br/>
{{/if}}
</a>