---
hac-fname: hca-challenge-2pg
---

<div class="thumbnail">
	<div class="caption">
		<h4><a href="{{ assets }}/pdf/{{ hac-fname }}.pdf" target="_blank">Download Flier</a></h4>
		{{md 'download-HAC-flier-content'}}
	</div>
	<a href="{{ assets }}/pdf/{{ hac-fname }}.pdf" target="_blank" ><img src="{{ assets }}/img/{{ hac-fname }}.png" {{!--data-src="holder.js/100%x180"--}} alt="Heatlh Care Acceleration Challenge Flier" ></a>
</div>