{{#markdown}}
[**[TODO: landing - press kit - make downloads into rows with tiny thumbnails rather than columns #111]**](https://github.com/hbshci/fhi/issues/111)
{{/markdown}}
{{#each gsheets.downloads}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4><a href="{{#if pdfFilename}}{{../assets}}/pdf/{{ pdfFilename }}{{else}}{{foreignUrl}}{{/if}}" target="_blank">{{title}}</a></h4>
                {{#if description}}{{description}}{{/if}}
            </div>
            {{#if imgFilename}}
                <a href="{{#if pdfFilename}}{{../../../assets}}/pdf/{{ pdfFilename }}{{else}}{{foreignUrl}}{{/if}}" target="_blank" ><img src="{{../../assets}}/img/{{imgFilename}}" alt="{{title}}" ></a>
            {{/if}}
        </div>
    </div>
{{/each}}