{{!-- Header --}}
<div class="docs-header" id="content">
	<div class="container">
		{{!--<a href="{{rel '/'}}" class="visible-xs"><img src="{{assets}}/img/hci-fhi-banner_480.jpg" class="visible-xs"/></a>
		<a href="{{rel '/'}}" class="visible-sm"><img src="{{assets}}/img/hci-fhi-banner_768.jpg" class="visible-sm"/></a>
		<a href="{{rel '/'}}" class="visible-md"><img src="{{assets}}/img/hci-fhi-banner_992.jpg" class="visible-md"/></a>
		<a href="{{rel '/'}}" class="visible-lg"><img src="{{assets}}/img/hci-fhi-banner_1200.jpg" class="visible-lg"/></a>--}}
		<a href="{{rel '/'}}"><img id="mast-img" src="this-will-be-hidden.png" alt="Forum on Health Care Innovation"/></a>
	</div>
	<div class="masthead-logos"></div>
</div>

{{!--{{> banner }}--}}