<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="P. Myer Nore">

{{!-- SilverPop tracking, recommended in head tag  --}}
<meta name="com.silverpop.brandeddomains" content="www.pages01.net,forumonhealthcareinnovation.org,healthcareinitiative.mkt1960.com" />
<meta name="com.silverpop.pagename" content="{{slug}}" />

{{#is slug 'index'}}
<meta name="description" content="{{gsheets.snippets.about-meta-description.val}}">
<title>Harvard Health Acceleration Challenge | {{default title (titleize basename)}}</title>
{{/is}}
{{#is slug 'challenge'}}
<meta name="description" content="{{gsheets.snippets.challenge-meta-description.val}}">
<title>Harvard Health Acceleration Challenge | {{default title (titleize basename)}}</title>
{{/is}}
{{#is slug 'conference'}}
<meta name="description" content="{{gsheets.snippets.conference-meta-description.val}}">
<title>Harvard Forum on Health Care Innovation | {{default title (titleize basename)}}</title>
{{/is}}

<!-- Main styles -->
<link href="http://fast.fonts.net/cssapi/0cc3175a-e210-4fe6-98df-afb108ad3e95.css" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ assets }}/css/index.css" rel="stylesheet">

{{!-- SilverPop tracking, recommended in head tag --}}
<script src="http://contentz.mkt912.com/lp/static/js/iMAWebCookie.js?2a218066-13c16d484ab-a7548a3fbbe3d9f8bac3b3472c6792ee&h=www.pages01.net" type="text/javascript"></script>

<!-- Webfonts -->
{{!--
<script type="text/javascript">
  WebFontConfig = {google: {families: ['PT+Sans:400,700,400italic,700italic', 'PT+Mono&subset=latin,cyrillic'] }};
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>--}}

<!-- share scripts -->
{{!--
<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>--}}



<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.ico">
