<header class="navbar navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header navbar-right">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{rel '.'}}/#" class="navbar-brand" alt="Forum on Health Care Innovation">
        <img src="{{assets}}/img/logo.png">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-left">
         <li{{#is slug 'index'}} class="active"{{/is}}>
          <a href="{{rel '.'}}/#">Overview</a>
        </li>
         <li{{#is slug 'challenge'}} class="active"{{/is}}>
          <a href="{{rel 'challenge'}}/">Challenge</a>
        </li>
        <li{{#is slug 'conference'}} class="active"{{/is}}>
          <a href="{{rel 'conference'}}/">Conference</a>
        </li>
        <li{{#is slug 'about'}} class="active"{{/is}}>
          <a href="{{rel 'about'}}/">About</a>
        </li>
      </ul>
    </nav>
    
  </div>
</header>
