{{!-- consider using ifNth like {{#is id 'Berwick'}}
        <div class="col-md-4">
          <div class="thumbnail" style="padding: 0">
            <div style="padding:4px">
              <img src="{{{ urls.pic_small }}}" alt="@{{{ name }}}">
            </div>
            <div class="caption clearfix">
                <a class="team-member" href="{{{  urls.bio }}}">
                <strong>{{{ name }}}</strong>
                <p>{{{titles}}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
---}}
{{!--
<div class="list-group-item">
      <a target="_blank" class="team-member" href="{{{  urls.bio }}}">
        <img src="{{{ urls.pic_small }}}" alt="@{{{ name }}}">
        <strong>{{{ name }}}</strong><br> {{{ titles }}} 
      </a>
</div>
--}}
<div class="list-group-item">
      <a target="_blank" class="team-member" href="{{  bioPageOurs }}">
        <img src="{{ photoUrl }}" alt="{{ nameFinal }}">
        <strong>{{ nameFinal }}</strong><br> {{ titleAndCompany }} 
      </a>
</div>