---
title: Challenge
slug: challenge
---

{{!-- Challenge Overview
================================================== --}}
<!--  Challenge Overview -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-overview">Challenge Overview</h1>
  </div>
  {{md 'challenge-overview'}}

  <span class="clearfix"></span>
  
  {{#markdown}}### Downloads{{/markdown}}
  {{md 'challenge-intro-downloads-intro'}}
  {{> downloads-partial}}
  <div class="clearfix"></div>

  {{> video-how-to-apply}}
</div>

{{!-- Challenge Benefits
================================================== --}}
<!-- Challenge Benefits -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-benefits">Benefits</h1>
  </div>
 

  <h3 id="conference-presentation">Conference Presentation</h3>
  {{md 'conference-presentation'}}
  

  <h3 id="hbs-case-study">HBS Case Study</h3>
  {{md 'challenge-benefits-hbs-case-study'}}

  <div class="list-group team">

     {{partial 'person' gsheets.people.Hamermesh }}
     {{partial 'person' gsheets.people.Huckman }}
     {{partial 'person' gsheets.people.McNeil }}
     {{partial 'person' gsheets.people.Newhouse }}

  </div>
  
  {{md 'benefits-other'}}

</div>

{{!-- Challenge Process
================================================== --}}
<!-- Challenge Process -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-process">Process</h1>
  </div>
  
  <div class="process btn-group btn-group-justified hidden-xs">
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-apply }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-advise }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-refine }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-announce }}
  </div> <!-- end btn-group --> 
  
  {{md 'process'}}

  {{!-- Video: How to Apply to the Health Acceleration Challenge 
  ================================================== --}}
  {{!--<p><span class="anchor-target h3" id="video">Video: How To  
  <a class="h3" href="{{gsheets.links.video-challenge-how-to-apply.url}}" target="_blank">Apply To The Challenge</a></span></p>--}}
  {{> video-how-to-apply}}

</div>

{{!-- Challenge Criteria
================================================== --}}
<!-- Challenge Criteria -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-criteria">Criteria</h1>
  </div>
  
  {{md 'criteria'}}

</div>


{{!-- Challenge FAQs
================================================== --}}
<!-- Challenge FAQs -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-faqs">FAQ<span class="lc">s</span></h1>
  </div>

  {{md 'faqs'}}

</div>

{{!-- Challenge Eligibility
================================================== --}}
<!-- Challenge Eligibility -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-eligibility">Eligibility</h1>
  </div>
  
  {{md 'eligibility'}}

</div>