---
title: Health Acceleration Challenge
slug: challenge
---

{{!-- Challenge Overview
================================================== --}}
<!--  Challenge Overview -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-overview">Overview</h1>
  </div>
  {{md 'challenge-overview'}}
  {{> downloads-partial}}
  <div class="clearfix"></div>
</div>

{{!-- Challenge Benefits
================================================== --}}
<!-- Challenge Benefits -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-benefits">Benefits</h1>
  </div>
 

  <h3 id="conference-presentation">Conference Presentation</h3>
  {{md 'access-to-senior-health-care-leaders'}}
  {{> conference-attendees-images}}

  {{md 'case-written-about-your-organization'}}
  <div class="list-group team">

     {{partial 'person' people.fhi12.Hamermesh }}
     {{partial 'person' people.fhi12.Huckman }}
     {{partial 'person' people.fhi12.McNeil }}
     {{partial 'person' people.fhi12.Newhouse }}

  </div>
  
  {{md 'benefits-other'}}

</div>

{{!-- Challenge Process
================================================== --}}
<!-- Challenge Process -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-process">Process</h1>
  </div>
{{#unless production}}{{#markdown}}
[**[TODO: challenge - process - make timeline into multiple, scalable graphics #65]**](https://github.com/codekiln/fhi/issues/65)  

[**[TODO: challenge - process - apply - intro copy #47]**](https://github.com/codekiln/fhi/issues/47)
{{/markdown}}{{/unless}}
  <div class="btn-group btn-group-justified hidden-xs">
    {{> button-apply-now}}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-advise }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-refine }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-announce }}
  </div> <!-- end btn-group --> 
  
  {{md 'process'}}

</div>

{{!-- Challenge Process
================================================== --}}
<!-- Challenge Process -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-eligibility">Eligibility</h1>
  </div>
  
  {{md 'eligibility'}}

</div>

{{!-- Challenge FAQs
================================================== --}}
<!-- Challenge FAQs -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-faqs">FAQs</h1>
  </div>

  {{md 'faqs'}}

</div>