---
title: Challenge
slug: challenge
---

{{!-- Challenge Overview
================================================== --}}
<!--  Challenge Overview -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-overview">Health Acceleration Challenge</h1>
  </div>
  {{md 'challenge-overview'}}

  <span class="clearfix"></span>
  <h4 class="h3 docs-heading">Downloads</h4>
  {{md 'challenge-intro-downloads-intro'}}
  {{> downloads-partial}}
  <div class="clearfix"></div>
</div>

{{!-- Challenge Benefits
================================================== --}}
<!-- Challenge Benefits -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-benefits">Benefits</h1>
  </div>
 

  <h3 id="conference-presentation">Conference Presentation</h3>
  {{md 'conference-presentation'}}
  

  <h3 id="hbs-case-study">HBS Case Study</h3>
  {{md 'challenge-benefits-hbs-case-study'}}

  <div class="list-group team">

     {{partial 'person' gsheets.people.Hamermesh }}
     {{partial 'person' gsheets.people.Huckman }}
     {{partial 'person' gsheets.people.McNeil }}
     {{partial 'person' gsheets.people.Newhouse }}

  </div>
  
  {{md 'benefits-other'}}

</div>

{{!-- Challenge Process
================================================== --}}
<!-- Challenge Process -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-process">Process</h1>
  </div>
  
  <div class="btn-group btn-group-justified hidden-xs">
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-apply }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-advise }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-refine }}
    {{> 'button-challenge-stage' gsheets.dates.challenge-stages-announce }}
  </div> <!-- end btn-group --> 
  
  {{md 'process'}}

</div>

{{!-- Challenge Criteria
================================================== --}}
<!-- Challenge Criteria -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-criteria">Criteria</h1>
  </div>
  
  {{md 'criteria'}}

</div>


{{!-- Challenge FAQs
================================================== --}}
<!-- Challenge FAQs -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-faqs">FAQs</h1>
  </div>

  {{md 'faqs'}}

</div>

{{!-- Challenge Eligibility
================================================== --}}
<!-- Challenge Eligibility -->
<div class="docs-section">
  <div class="page-header">
    <h1 id="challenge-eligibility">Eligibility</h1>
  </div>
  
  {{md 'eligibility'}}

</div>