---
title: Conference
slug: conference
lead: Function reference
---

{{!-- conference
================================================== --}}

<div class="docs-section">
  <div class="page-header">
    <h1 id="conference-overview">Conference</h1>
  </div>
  <p class="lead">Forum on Health Care Innovation Conference</p>
</div>



{{#each conference.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
    <div class="section-content">
      {{> popover-source-link . }}

      <!-- {{filename .}} -->
      {{success '>> Inlining:' (filename .)}} {{! log a success message! }}


{{#markdown}}
{{inline .}}
{{/markdown}}

      <br>
    </div>
    {{/each}}

  </div>
{{/each}}
