---
title: Conference
slug: conference
---

{{!-- 2015 Conference
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="2015-conference">{{gsheets.nav.conference-2015-conference.title}}</h1>
  </div>
  
  {{> h3 gsheets.nav.conference-2015-conference-conference-april-2015-in-boston}}
  {{md "conference-02-2015-conference-conference-april-2015-in-boston"}}
  
  {{> h3 gsheets.nav.conference-2015-conference-keynote-speakers}}
  {{md "conference-03-2015-conference-keynote-speakers"}}
  <div class="list-group team">
    {{partial 'person' gsheets.people.Bertolini }}
    {{partial 'person' gsheets.people.Flier }}
    {{partial 'person' gsheets.people.Foulkes }}
    {{partial 'person' gsheets.people.Nohria }}
    {{partial 'person' gsheets.people.Summers }}
  </div>

  {{> h3 gsheets.nav.conference-2015-conference-win-conference-tickets}}
  {{md "conference-04-2015-conference-win-conference-tickets"}}

</div>

{{!-- Previous Conference
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="previous-conference">Previous Conference</h1>
  </div>
  {{md 'previous-conference'}}
  {{> conference-attendees-images}}
  
  <h2 id="previous-conference-keynote-speakers">Keynote Speakers</h2>
  <div class="list-group team">
   {{partial 'person' gsheets.people.Berwick }}
   {{partial 'person' gsheets.people.Garber }}
  </div>

  <h2 id="previous-conference-video-sessions">Session Videos</h2>

   {{ partial 'panel' gsheets.groups.2012-panel1 }}
   <div class="list-group team">

	   {{partial 'video-person' gsheets.people.Herzlinger }}
	   {{partial 'video-person' gsheets.people.Reisman }}
     {{partial 'video-person' gsheets.people.Sperling }}
     {{partial 'video-person' gsheets.people.Wolfsen }}  

   </div>

   {{partial 'panel' gsheets.groups.2012-panel2}}
   <div class="list-group team">

	   {{partial 'video-person' gsheets.people.Chin }}
     {{partial 'video-person' gsheets.people.Bingham }}
	   {{partial 'video-person' gsheets.people.Mussallem }}
     {{partial 'video-person' gsheets.people.Viehbacher }}

   </div>

   {{partial 'panel' gsheets.groups.2012-panel3}}
   <div class="list-group team">

	   {{partial 'video-person' gsheets.people.Giusti }}
	   {{partial 'video-person' gsheets.people.Lander }}
	   {{partial 'video-person' gsheets.people.McGuire }}
     {{partial 'video-person' gsheets.people.McNeil }}

   </div>

   {{partial 'panel' gsheets.groups.2012-panel4}}
   <div class="list-group team">

     {{partial 'video-person' gsheets.people.Brown }}
	   {{partial 'video-person' gsheets.people.Christensen }}
	   {{partial 'video-person' gsheets.people.Sussman }}

   </div>

   {{partial 'panel' gsheets.groups.2012-panel5}}
   <div class="list-group team">

     {{partial 'video-person' gsheets.people.Cosgrove }}
     {{partial 'video-person' gsheets.people.Gottlieb }}
	   {{partial 'video-person' gsheets.people.Porter }}
	   {{partial 'video-person' gsheets.people.Schlichting }}

   </div>

</div>

{{!-- Five Imperatives
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="thought-leadership">Thought Leadership</h1>
  </div>
  <div class="pull-right">
  {{partial 'download-single' gsheets.downloads.five-imperatives}}
  </div>
  {{md 'five-imperatives'}}
</div>