---
title: Conference
slug: conference
---
   
{{!-- example of how to include a single person 
<div class="list-group team">
   {{partial 'person' gsheets.people.Hamermesh }}
 </div>
 --}}

{{!-- 2015 Conference
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="2015-conference">2015 Conference</h1>
  </div>
  {{md '2015-conference'}}
  
</div>

{{!-- Previous Conference
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="previous-conference">Previous Conference</h1>
  </div>
  {{md 'previous-conference'}}
  {{> conference-attendees-images}}
  
  <h2 id="previous-conference-keynote-speakers">Keynote Speakers</h2>
  <div class="list-group team">
   {{partial 'person' gsheets.people.Berwick }}
   {{partial 'person' gsheets.people.Garber }}
  </div>

  <h2 id="previous-conference-video-sessions">Session Videos</h2>

   {{partial 'panel' panels.fhi12.panel1}}
   <div class="list-group team">

	   {{partial 'person' gsheets.people.Herzlinger }}
	   {{partial 'person' gsheets.people.Wolfsen }}
	   {{partial 'person' gsheets.people.Sperling }}
	   {{partial 'person' gsheets.people.Reisman }}

   </div>

   {{partial 'panel' panels.fhi12.panel2}}
   <div class="list-group team">

	   {{partial 'person' gsheets.people.Chin }}
	   {{partial 'person' gsheets.people.Viehbacher }}
	   {{partial 'person' gsheets.people.Mussallem }}
	   {{partial 'person' gsheets.people.Bingham }}

   </div>

   {{partial 'panel' panels.fhi12.panel3}}
   <div class="list-group team">

	   {{partial 'person' gsheets.people.McNeil }}
	   {{partial 'person' gsheets.people.Giusti }}
	   {{partial 'person' gsheets.people.Lander }}
	   {{partial 'person' gsheets.people.McGuire }}

   </div>

   {{partial 'panel' panels.fhi12.panel4}}
   <div class="list-group team">

	   {{partial 'person' gsheets.people.Christensen }}
	   {{partial 'person' gsheets.people.Brown }}
	   {{partial 'person' gsheets.people.Sussman }}

   </div>

   {{partial 'panel' panels.fhi12.panel5}}
   <div class="list-group team">

	   {{partial 'person' gsheets.people.Porter }}
	   {{partial 'person' gsheets.people.Cosgrove }}
	   {{partial 'person' gsheets.people.Gottlieb }}
	   {{partial 'person' gsheets.people.Schlichting }}

   </div>


</div>

{{!-- Five Imperatives
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="thought-leadership">Thought Leadership</h1>
  </div>
  {{md 'five-imperatives'}}
</div>