---
title: About
slug: index
top-heading: "Innovators Applied to Health Acceleration Challenge"
top-lead: ""
---
{{!-- MAIN CONTENT --}}
<div class="docs-section">

  {{!-- Health Acceleration Challenge Launch
  ================================================== --}}
  <div class="page-header">
    <h1 id="{{gsheets.nav.about-health-acceleration-challenge-finalists.navId}}">{{gsheets.nav.about-health-acceleration-challenge-finalists.longTitle}}</h1>
  </div>
  {{md 'challenge-launch-intro'}}

  {{!-- Health Acceleration Challenge Video 
  ================================================== --}}
  {{!--<p><span class="anchor-target" id="video"></span>
  <a class="h3" href="{{gsheets.links.challenge-application.url}}" target="_blank">Comment on the ideas &raquo;</a></p>--}}
    <div class="row" >
      <div class="col-sm-10 col-md-8">
        {{> video gsheets.links.video-landing-page}}
      </div>
    </div>
    {{!--
    <p><span class="anchor-target" id="video"></span>
      <a class="h3" href="{{gsheets.links.challenge-application.url}}" target="_blank">Finalists</a></p>
    <div class="row">
        {{partial 'org' .}}
    </div>
    --}}

  {{!-- News and Press
  ================================================== --}}
  {{#if gsheets.updates}}
    <h2 id="news-and-press">News</h2>
    <ul class="list-unstyled news">
      {{#each gsheets.updates}}
        <!-- {{gsheets.updates.press-2013-07-15.headline}} -->
        {{> 'newsitem' .}}
      {{/each}}
    </ul>
  {{/if}}

  {{!-- Downloads and Press Kit
  ================================================== --}}
  {{#markdown}}## Downloads{{/markdown}}
  {{md 'downloads-and-press-kit'}}
  <div class="row">
    {{partial 'downloads-partial'}}
  </div>
  

</div>{{!-- .docs-section  --}}

{{!-- TERTIARY CONTENT: About the Forum --}}

  {{!-- About The Forum
  ================================================== --}}
  <div class="docs-section">
    {{#markdown}}# About the Forum on Health Care Innovation{{/markdown}}
    {{md 'about-the-forum'}}

  {{!-- Steering Committee
  ================================================== --}}
  <h2 id="steering-committee">Steering Committee</h2>
  <div class="list-group team">
    <div class="list-group team">
       {{partial 'person' gsheets.people.Hamermesh }}
       {{partial 'person' gsheets.people.Huckman }}
       {{partial 'person' gsheets.people.McNeil }}
       {{partial 'person' gsheets.people.Newhouse }}
       {{partial 'person' gsheets.people.Sterling }}
    </div>
  </div>
</div>


