---
title: About
slug: index
top-heading: "Health Acceleration Challenge Launch"
top-lead: ""
---
{{!-- MAIN CONTENT --}}
<div class="docs-section">

  {{!-- Health Acceleration Challenge Launch
  ================================================== --}}
  <div class="page-header">
    <h1 id="{{slugify top-heading}}">{{top-heading}}</h1>
  </div>
  {{md 'challenge-launch-intro'}}

  {{!-- Health Acceleration Challenge Video 
  ================================================== --}}
    <div class="row">
      <div class="col-sm-10 col-md-8">
        {{> video}}
      </div>
    </div>

  {{!-- News and Press
  ================================================== --}}
  {{#if gsheets.updates}}
    <h2 id="news-and-press">News</h2>
    <ul class="list-unstyled">
      {{#each gsheets.updates}}
        <!-- {{gsheets.updates.press-2013-07-15.headline}} -->
        {{> 'newsitem' .}}
      {{/each}}
    </ul>
  {{/if}}

  {{!-- Downloads and Press Kit
  ================================================== --}}
  {{#markdown}}## Downloads{{/markdown}}
  {{md 'downloads-and-press-kit'}}
  <div class="row">
    {{partial 'downloads-partial'}}
  </div>
  

</div>{{!-- .docs-section  --}}

{{!-- TERTIARY CONTENT: About the Forum --}}

  {{!-- About The Forum
  ================================================== --}}
  <div class="docs-section">
    <h1 id="about-the-forum">About the Forum</h1>

    {{md 'about-the-forum'}}

  {{!-- Steering Committee
  ================================================== --}}
  <h2 id="steering-committee">Steering Committee</h2>
  <div class="list-group team">
    <div class="list-group team">
       {{partial 'person' gsheets.people.Hamermesh }}
       {{partial 'person' gsheets.people.Huckman }}
       {{partial 'person' gsheets.people.McNeil }}
       {{partial 'person' gsheets.people.Newhouse }}
       {{partial 'person' gsheets.people.Sterling }}
    </div>
  </div>
</div>


