---
title: Forum on Health Care Innovation
slug: index
top-heading: Health Acceleration Challenge Launch
top-lead: HBS and HMS proudly present
---

{{!-- Health Acceleration Challenge Launch
================================================== --}}
<div class="docs-section">
  {{> heading-lead}}
  {{md 'challenge-launch-intro'}}
</div>

{{!-- Health Acceleration Challenge Video 
================================================== --}}
<div class="docs-section">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      {{> video}}
    </div>
    <div class="col-sm-6 col-md-4">
      {{partial 'download-HAC-flier-partial'}}
    </div>
  </div>
</div>

{{!-- About The Forum
================================================== --}}
<div class="docs-section">
  {{md 'about-the-forum'}}
</div>

{{!-- Steering Committee
================================================== --}}
<div class="docs-section container-fluid">
  <h2>Steering Committee</h2>
  <div class="list-group team">

    <div class="list-group team">

     {{partial 'person' people.fhi12.Hamermesh }}
     {{partial 'person' people.fhi12.Huckman }}
     {{partial 'person' people.fhi12.McNeil }}
     {{partial 'person' people.fhi12.Newhouse }}
     {{#markdown}}
     [**TODO: fix Cara's picture**](https://github.com/codekiln/fhi/issues/70)
     {{/markdown}}
     {{partial 'person' people.fhi12.Sterling }}


   </div>

  </div>
</div>